.cell {
    text-decoration: underline;
    color: blue;
    padding: 6px;
    margin-left: 20px;
    border: 2px solid black;
}
div {
    margin: 15px;
}
.row-1 {
    border-top: none;
}
.column-1{
    border-left: none;
}
.row-3{
    border-bottom: none;
}
.column-3{
    border-right: none;
}





11:42
so crazy thats all it takes to do that much work

